---
title: Installations
layout: page
---
%ul.article-list
  - data.installations.each_with_index do |item, index|
    %li.article-list-item
      %article.tile-section
        .tile-section__info
          %h3= item.title
          - if item.location
            %h3= item.location
          %h3
            %time= item.date.strftime('%b %Y') if item.date
        .tile-section__images{data: { columns: true }}
          - if item.gallery?
            - item.gallery.each do |image|
              = link_to "installations/#{index}.html", class: "ajax-popup-link" do
                .tile-section__images__item
                  = image_tag(image)

