---
title: Projects
layout: page
---
%ul.grid--is-aligned
  - data.projects.each_with_index do |item|
    %li.grid-item
      = link_to "projects/#{item.title.to_slug}.html", class: "ajax-popup-link" do
        .grid-item__header
          %h2.grid-item__title= item.title
          %h3.grid-item__sub-title= item.location
        = image_tag(item.images.first)
